.clients {
    @include section-padding ();
    width: auto;
    @media screen and (max-width: $desctop) {
            @include section-mob-tabl-padding;
    }
    
}
.clients__title{
    @extend %section-title;
}
.clients__list {
    @extend %list;
    @extend %flex-container-center;
    gap: $card-set-gap-margin;   
    flex-wrap: wrap;

    @media screen and (min-width:$tablet) {
        width: $tablet;
    }
    @media screen and (min-width:$desctop) {
        width: $desctop;
    }
        
}
.clients__item{
    flex-basis: calc((100% - 30px)/2);
    
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 60px)/3);
    }
    
    @media screen and (min-width: $desctop) {
        flex-basis: calc((100% - 150px)/6);
    }
}
.clients__link {
    @extend %link;
    @extend %flex-container-center;

    height: 92px;
    width: 210px;
    
    @media screen and (min-width: $tablet) {
        width: 226px;
    }
    
    @media screen and (min-width: $desctop) {
        width: 170px;
        }

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color 250ms $timing-function, border 250ms $timing-function;

    &:hover, &:focus{
            color: $accent-color;
            border: 1px solid $accent-color;
        }
}

.clients__icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

