.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
   
    @media screen and (min-width: $mobile) {
        max-width: 480px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }

    @media screen and (min-width: $desctop) {
        max-width: 1200px;
    }
}
