
.features {
    width: auto;
    padding-bottom: 0;
    
    @media screen and (max-width: $desctop) {
        @include section-padding ($p-top: 60px, $p-bott: 60px);
    }
    @media screen and (min-width: $desctop) {
        @include section-padding ($p-bott: 0);
    }
}
.features__title{
    @extend %visuality-hidden;
}
.features__list {
    @extend %list;
    margin: 0;
    padding: 0;
    gap: $card-set-gap-margin;
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 738px;
    }
    @media screen and (min-width: $desctop) {
        width:  $desctop;
    }

}

.features__item {
    @media screen and (max-width:$tablet){
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:$tablet) {
        width: 270px;
        flex-basis: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: $desctop) {
        flex-basis: calc((100% - 90px) / 4);
    }
}

.features__icon {
    width: 70px;
    height: 70px;
    
    &-thumb {
            @extend %flex-container-center;
    
            height: 120px;
            margin-bottom: 30px;
            border-radius: 4px;
    
            background-color: $second-accent-background-color;
        }
}

.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.17;
    color: $title-text-color;
    text-transform: uppercase;
}

.features__text {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
}