.menu {
    background-color: #fff;
    text-align: center;
    display: flex;

    &.is-open {
        display: block;
        transform: translateX(0);
    }
    
    @media screen and(max-width:$tablet) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        
        transform: translateX(100%);
        transition: transform 250ms $timing-function;
        
    }
    @media screen and(min-width:$tablet) {
        align-items: center;
        margin-left: 87px;
        height: 100%;
        
    }
    @media screen and(min-width:$desctop) {
        margin-left: 97px;
    }
}
.menu-box{
    height: 100%;
    display: flex;
    @media screen and(max-width:$tablet){
        flex-direction: column;
       
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // overflow: scroll; 
    }
    @media screen and(min-width:$tablet){
        align-items: center;
    }

}
// .menu-btn__icon-menu{
//     width: 24px;
//     height: 16px;
// }
.menu-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 10px;
    right: 15px;
    height: 40px;
    width: 40px;

    border: none;
    background-color: transparent;
    font-family: inherit;

    cursor: pointer;

    @media screen and(min-width: $tablet) {
        display: none;
    }
}
// .menu-btn__icon-menu{
//     width: 24px;
//     height: 16px;
// }
.menu-btn.is-open .menu-btn__icon-menu {
    display: none;
}
// .menu-btn__icons{
//     &:hover,
//     &:focus &-icon-cross{
//         fill: $accent-color;
//     }
   
// }
.menu-btn__icon-cross {
    display: none;
    color: currentColor;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.menu-btn.is-open .menu-btn__icon-cross {
    display: block;
}
.menu-socials {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;

    @media screen and(min-width:$tablet) {
        display: none;
    }

}

.menu-socials__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials__link {
    @extend %link;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18);
    color: $accent-color;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}