.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    z-index: 1;
    background-color: $primary-white-color;
    border-bottom: 1px solid #ececec;
}

.header__nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet){
        width: 100%;   
    }
}

.header__menu{
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    top: 10px;
    right: 15px;
    height: 40px;
    width: 40px;

    border: none;
    background-color: transparent;
    font-family: inherit;

    cursor: pointer;

    @media screen and(min-width: $tablet) {
        display: none;
    }
}
.header__menu.is-open .header__icon-menu{
    display: none;
}
.header__icon-cross {
    display: none;
}

.header__menu.is-open .header__icon-cross {
    display: block;
}
.menu-box{
    display: flex;
    align-items: center;
    width: 11170px;
}
.menu-container{
    background-color: #fff;
    text-align: center;
    display: flex;
    &.is-open{
        display: block;
    }
    @media screen and(max-width:$tablet){
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        padding: 10px;
    }
    @media screen and(min-width:$tablet){
       align-items: center;
       margin-left: 87px;   
    }   
    @media screen and(min-width:$tablet) {
        
        margin-left: 97px;
    }
.block{
    width: 100px;
    height:100px;
    margin: 10px;
    background-color: cadetblue;
}
.header__list {
    @extend %list;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  
    @media screen and (min-width: $tablet) {
            gap: 50px;
    }
    
}
.header__contact{
    display: flex;
    @extend %list;
        @media screen and (min-width: $tablet) and (max-width: $desctop) {
            gap: 10px;
            align-items: baseline;
            flex-wrap: wrap;
            margin-left: 90px;
        }
    
        @media screen and (min-width: $desctop) {
            align-items: baseline;
            gap: 30px;
            margin-left: 315px;
        }
}
.header__link {
    @extend %link;
    display: block;


    color: $title-text-color;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.17;

    transition: color 250ms $timing-function;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

        @media screen and (max-width: $tablet) {
            padding: 0;
        }

                 @media screen and (min-width: $tablet) {
                        padding-top: 32px;
                            padding-bottom: 32px;
                 }
}



/* Виділення поточної сторінки кольором*/
.header__link--active {
    position: relative;
    color: $accent-color;

    &::after{
        position: absolute;
        bottom: -1px;
        left: 0;
    
        width: 100%;
        height: 4px;
    
        content: '';
        border-radius: 2px;
        background-color: $accent-color;
    }
    
}

/* Виділення і псевдостани посилань на сторінки*/
.header__contact-link {
    @extend %link;
    color: $primary-text-color;
    fill: $primary-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
}

.header__contact-container {
    display: flex;
    
    
    @media screen and (min-width: $tablet) and (max-width: $desctop) {
        gap: 10px;
        align-items: baseline;
        flex-wrap: wrap;
        margin-left: 90px;
    }
    
    @media screen and (min-width: $desctop) {
        align-items: baseline;
        gap: 50px;
        margin-left: 315px;
    }
}

.header__contact-link {
    display: flex;
    align-items: center;
}

.header__contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

.header__contact-link {
    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: $accent-color;
    }
}}
