.team {
    
    background-color: $second-accent-background-color;
    width: 100%;
    
    @media screen and (max-width: $desctop) {
        @include section-padding ($p-top: 60px, $p-bott: 60px);
    }
    @media screen and (min-width:$desctop) {
        @include section-padding ();
    }
}

.team__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}
.team__title{
    @include section-title ($f-z: 28px); 

    @media screen and (min-width:$desctop){
        @include section-title ($f-z: 36px)
    }

}
.team__list {
    @extend %list;

  
    @media screen and (min-width:$tablet) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $card-set-gap-margin;
        width: 738px;
    }
    @media screen and (min-width:$desctop) {
        width: 1170px;
    }
}
.team__list img {
    margin-bottom: 30px;
}

.team__item {
    padding-top: 0;
    padding-bottom: 30px;

    width: 270px;

    overflow: hidden;
    border: transparent;
    background-color: $primary-white-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);


    @media screen and (max-width:$tablet) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        width: 100%;
    }
    @media screen and (min-width:$tablet) {
        flex-basis: calc((100% - 30px)/2);
    }
    @media screen and (min-width:$desctop) {
        flex-basis: calc((100% - 90px)/4);
    }
}


.team__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    text-align: center;
}

.team__dscr {
    margin: 0px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}



