@mixin section-padding ($p-top: 94px, $p-bott: 94px){
    padding-top: $p-top;
    padding-bottom: $p-bott;
}
@mixin section-mob-tabl-padding () {
    padding-top: 60px;
    padding-bottom: 60px;
}
@mixin section-title ($f-z:28px){
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-size: $f-z;
    line-height: 1.17;
    font-weight: 700;
    text-align: center;
}